In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_nba = pd.read_csv('/content/nba - nba.csv')
df_nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,6-5,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,6-5,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,6-10,231,NaN,5000000.0

#1. Obtener los registros Null en Salary

In [ ]:
df_nba[df_nba['Salary'].isnull()]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
2,John Holland,Boston Celtics,30,SG,27,6-5,205,Boston University,NaN
46,Elton Brand,Philadelphia 76ers,42,PF,37,6-9,254,Duke,NaN
171,Dahntay Jones,Cleveland Cavaliers,30,SG,35,6-6,225,Duke,NaN
264,Jordan Farmar,Memphis Grizzlies,4,PG,29,6-2,180,UCLA,NaN
269,Ray McCallum,Memphis Grizzlies,5,PG,24,6-3,190,Detroit,NaN
270,Xavier Munford,Memphis Grizzlies,14,PG,24,6-3,180,Rhode Island,NaN
273,Alex Stepheson,Memphis Grizzlies,35,PF,28,6-10,270,USC,NaN
350,Briante Weber,Miami Heat,12,PG,23,6-2,165,Virginia Commonwealth,NaN
353,Dorell Wright,Miami Heat,11,SF,30,6-9,205,NaN,NaN
397,Axel Toupane,Denver Nuggets,6,SG,23,6-7,210,NaN,NaN
409,Greg Smith,Minnesota Timberwolves,4,PF,25,6-10,250,Fresno State,NaN

#2 Obtener:
#2.1 Promedio de edad de los jugadores

In [ ]:
df_nba['Age'].mean()

26.938730853391686

#2.2 Edad del jugador mas joven

In [ ]:
df_nba['Age'].min()

19

#2.3 Edad del jugador más veterano

In [ ]:
df_nba['Age'].max()

40

#2.4 promedio de salario de los jugadores

In [ ]:
df_nba['Salary'].mean()

4842684.105381166

#2.5 salario más bajo de los jugadores

In [ ]:
df_nba['Salary'].min()

30888.0

#2.6 salario más alto de los jugadores

In [ ]:
df_nba['Salary'].max()

25000000.0

#3. Obtener la moda de los números que utilizan los jugadores

In [ ]:
df_nba['Number'].mode()

0    5
Name: Number, dtype: int64

#4. Obtener:
#4.1 Equipos con menos jugadores en el dataset

In [ ]:
df_nba['Team'].value_counts().idxmin()

'Orlando Magic'

#4.2 Equipos con más jugadores en el dataset

In [ ]:
df_nba['Team'].value_counts().idxmax()

'New Orleans Pelicans'

#5. Obtener las variables categóricas de College ordenados de mayor a menor

In [ ]:
df_nba['College'].value_counts().sort_values(ascending=False)

College
Kentucky          22
Duke              20
Kansas            18
North Carolina    16
UCLA              15
                  ..
Morehead State     1
Weber State        1
Lehigh             1
Westchester CC     1
Baylor             1
Name: count, Length: 118, dtype: int64

#5.1 Universidad que se repite menos en el Dataset

In [ ]:
df_nba['College'].value_counts().idxmin()

'Iowa'

#5.2 Universidad que se repite más en el Dataset

In [ ]:
df_nba['College'].value_counts().idxmax()

'Kentucky'

# 6. Obtener: El número más usado por los jugadores

In [ ]:
df_nba['Number'].value_counts().idxmax()

5

# 6.1 El número menos usado  por los jugadores

In [ ]:
df_nba['Number'].value_counts().idxmin()

54

# 6.2 La moda del número más usado por los jugadores

In [ ]:
df_nba['Number'].mode()

0    5
Name: Number, dtype: int64

# ¿Cuál es la posición con el promedio de estatura más baja?

In [ ]:
df_nba[['pies', 'pulgadas']]= df_nba['Height'].str.split('-', expand=True)
df_nba['pies'] = df_nba['pies'].astype(int)
df_nba['pulgadas'] = df_nba['pulgadas'].astype(int)
df_nba['estatura'] = df_nba['pies'] * 12 + df_nba['pulgadas']
df_nba.groupby('Position')['estatura'].mean().idxmin()

'PG'

# ¿Cuál es la posición con el promedio de estatura más alta?

In [ ]:
df_nba[['pies', 'pulgadas']]= df_nba['Height'].str.split('-', expand=True)
df_nba['pies'] = df_nba['pies'].astype(int)
df_nba['pulgadas'] = df_nba['pulgadas'].astype(int)
df_nba['estatura'] = df_nba['pies'] * 12 + df_nba['pulgadas']
df_nba.groupby('Position')['estatura'].mean().idxmax()

'C'

# ¿Qué Position tiene el salario más bajo en promedio?

In [ ]:
df_nba.groupby('Position')['Salary'].mean().idxmin()

'SG'

# ¿Qué Position tiene el salario más alto en promedio?

In [ ]:
df_nba.groupby('Position')['Salary'].mean().idxmax()

'C'

#¿Qué universidad genera mas jugadores en con la posición C?

In [ ]:
df_nba[df_nba['Position'] == 'C']['College'].value_counts().idxmax()

'Kentucky'

#¿Qué universidad genera menos jugadores en con la posición SF?

In [ ]:
df_nba[df_nba['Position'] == 'SF']['College'].value_counts().idxmin()

'Memphis'